<h2 class="well">Add a New Stylist</h2>

<form action="/stylists" method="post">
  <div class="form-group">
    <label for="stylist_name">Stylist's Name:</label>
    <input id="stylist_name" name="stylist_name" type="text">
    <button type="submit" class="btn btn-success">Add</button>
  </div>
</form>
